.container {
    margin-left:0;
    margin-right:0;
}
.row {
    max-width:600px;
}
.panel {
    max-width:600px;
}

.form-group input[type="checkbox"] {
    border-style:solid;
    border-width:12px;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
